# Python Bytecode & Cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.local

# IDE Configs
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
